.tab {
    overflow: hidden;
    float: left;
    width: 250px;
    border: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;

}

.tab a {
    display: block;
    background-color: inherit;
    color: white;
    padding: 33px 32px;
    width: 200px;
    outline: none;
    text-align: center;
    transition: 0.3s;
    font-size: 18px;
    font-family: Monospace, Courier New;
}


